[package]
name = "jito-shredstream-proxy"
version = "0.1.1"
description = "Fast path to receive shreds from Jito, forwarding to local consumers. See https://jito-labs.gitbook.io/mev/searcher-services/shredstream for details."
authors = ["Jito Team <team@jito.wtf>"]
homepage = "https://jito.wtf/"
edition = "2021"

[dependencies]
arc-swap = "1.6"
clap = { version = "4", features = ["derive", "env"] }
crossbeam-channel = "0.5.8"
env_logger = "0.10.0"
histogram = "0.7.2"
hostname = "0.3.1"
itertools = "0.10"
jito-protos = { path = "./jito_protos" }
log = "0.4.17"
prost = "0.11"
prost-types = "0.11"
rand_07 = { package = "rand", version = "~0.7" }
reqwest = { version = "0.11", features = ["blocking", "json"] }
serde_json = "1"
signal-hook = "0.3"
solana-client = "~1.14"
solana-metrics = "~1.14"
solana-perf = "~1.14"
solana-sdk = "~1.14"
solana-net-utils = "~1.14"
solana-streamer = "~1.14"
thiserror = "1.0.40"
tokio = "1"
tonic = { version = "0.9.2", features = ["tls", "tls-roots", "tls-webpki-roots"] }
