[package]
name = "jito-shredstream-proxy"
version = "0.1.0"
description = "Receives shreds from Jito, forwarding to local consumers."
authors = ["Jito Team <team@jito.wtf>"]
homepage = "https://jito.wtf/"
edition = "2021"
publish = false

[dependencies]
clap = { version = "4", features = ["derive", "env"] }
crossbeam-channel = "0.5.6"
env_logger = "0.10.0"
histogram = "0.7.0"
jito-protos = { path = "./jito_protos" }
log = "0.4.14"
prost-types = "0.11.6"
solana-client = { git = "https://github.com/jito-foundation/jito-solana.git", rev = "v1.14.13-jito" }
solana-metrics = { git = "https://github.com/jito-foundation/jito-solana.git", rev = "v1.14.13-jito" }
solana-perf = { git = "https://github.com/jito-foundation/jito-solana.git", rev = "v1.14.13-jito" }
solana-sdk = { git = "https://github.com/jito-foundation/jito-solana.git", rev = "v1.14.13-jito" }
solana-net-utils = { git = "https://github.com/jito-foundation/jito-solana.git", rev = "v1.14.13-jito" }
solana-streamer = { git = "https://github.com/jito-foundation/jito-solana.git", rev = "v1.14.13-jito" }
thiserror = "1.0.34"
tokio = "1.24.2"
tonic = { version = "0.8.3", features = ["tls", "tls-roots", "tls-webpki-roots"] }
