name: test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04-16c-64g
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          caller-workflow-name: test

      - name: Run tests
        run: cargo test --all-features --locked
